h1 {
    color: blue;
}
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}
img {
    position: static;
    width: 150px;
    height: 150px;
    margin: 15%;
    border:2px solid #fff;
}